*{
    padding: 0%;
    margin: 0%;
   
}
body{
    background-image: url('coralReef.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920; height: 10;
    color: white;
    text-align: center;
   
}
.navBar {
    display: inline;   
  }
  
  a{
    display: block;
   padding: 8px;
   
   background-color: #9dd9f9c1;
    text-decoration: none;
     color: rgb(4, 9, 68);  }
  a:hover{
    background-color: rgba(106, 137, 249, 0.82);
  }
  .navBar{
text-align: right;  
list-style-type: none;}
.oceanText{
  display: block;
  background-color: rgba(20, 20, 70, 0.7);
  margin-top: 0.3%;
  }
  
.cairo{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  .goals{
 list-style-type: circle;
  }
  .marineText{
    text-align: right;
    display: block;
    background-color: rgba(20, 20, 70, 0.7);
    margin-top: 0.3%;
    padding-right: 0.5%;
    padding-bottom: 10%;
  }
  .card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  p{
    display: inline;
  }
  .row img{
    width: 40%;
    height: inherit;
  }
  table, th, td {
    text-align: center;
border: rgb(2, 3, 3) solid 3px;
  }

.column {
    float: right;
    width: 30%;
    padding: 0 10px;
  }
  .row {margin: 0 -5px;}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .card {
    box-shadow: 0 5px 9px 0 rgba(0, 0, 0, 0.6); 
    padding: 16px;
    text-align: center;
    background-color: #eef7fc;
    color: black;
  }
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  