*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url('coralReef.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920; height: 10;
    color: white;
    text-align: center;
}
li {
    display: inline;   
  }
  
  a{
    display: block;
   padding: 8px;
   
   background-color: #9dd9f9c1;
    text-decoration: none;
     color: rgb(4, 9, 68);  }
  a:hover{
    background-color: rgba(106, 137, 249, 0.82);
  }
  
.cairo div{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }

  
  