*{
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url('coralReef.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 1920; height: 10;
    color: white;
    text-align: center;
}
.navBar {
    display: inline;   
  }
  
  a{
    display: block;
   padding: 8px;
   
   background-color: #9dd9f9c1;
    text-decoration: none;
     color: rgb(4, 9, 68);  }
  a:hover{
    background-color: rgba(106, 137, 249, 0.82);
  }
  .navBar{
text-align: right;  
list-style-type: none;}
.oceanText{
  display: block;
  background-color: rgba(20, 20, 70, 0.7);
  margin-top: 0.3%;
  }
  
.cairo{
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  .goals{
 list-style-type: disc;
  }

  
  